.mainFxmlClass {
	-fx-accent: #999999;
	-fx-focus-color: #999999;
	/*-fx-padding: 0;*/
	-fx-border-color: transparent;
	-fx-font-family: 'Helvetica', 'Arial';
}

.backgroundImage {
	-fx-background-color: rgba(255,255,255,0.5);
}

.button {
	-fx-background-color:
        rgba(0,0,0,0.08),
        /*linear-gradient(#b1b1b1, #909090),*/
        linear-gradient(white 0%, #f3f3f3 50%, #dedede 100%);
	-fx-border-color: #b1b1b1;
	-fx-border-radius: 4;
	-fx-text-fill: #242d35;
}

.button:hover, .button:pressed {
	-fx-text-fill: #ffffff;
	-fx-background-color: linear-gradient(#999999 10%, #666666 50%);
	-fx-border-color: #666666;
}

/*.text-field {
	-fx-highlight-fill: #999999;
}

.text-field:focused {
	-fx-background-color: #999999, -fx-text-box-border, -fx-control-inner-background;
}*/

/* TODO コンボボックスのスタイル */
.combo-box {
	-fx-background-radius: 5,5,4;
	-fx-background-color: #ffffff;
	-fx-border-color: #999999;
	-fx-border-radius: 5;
}

.combo-box .arrow-button {
    -fx-background-color: transparent;
}

/*
効かない.
https://forums.oracle.com/message/10482957
*/
.combo-box-popup .list-view .list-cell:selected {
    /*-fx-background-color: #ff3333;*/
}

.scroll-pane {
	/*-fx-border-color: #ffffff;*/
	-fx-border-color: transparent;
	-fx-background-color: transparent;
}

.split-pane-divider {
	-fx-background-color: #ffffff;
	-fx-border-color: transparent;
	-fx-padding: 0;
}

.split-pane:horizontal > * > .split-pane-divider {
	-fx-border-color: transparent transparent transparent transparent;
	-fx-background-color: transparent, transparent;
	-fx-background-insets: 0, 0 1 0 1;
}

.scroll-bar {
	/*-fx-background-color: #ffffff;*/
	/*-fx-border-color: #cccccc;*/
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

.increment-button, .decrement-button {
	-fx-background-color: #ffffff;
	-fx-background-radius: 0;
}

.scroll-bar .track {
	-fx-background-color: #ffffff;
	-fx-border-color: transparent;

	-fx-background-radius: 0;
	-fx-border-radius: 0;
}

.scroll-bar .thumb {
    -fx-background-color: #bbbbbb;
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}

.headerBox {
	/*-fx-background-color: linear-gradient(white 0%, #f3f3f3 50%, #dedede 100%);*/
	-fx-background-color: transparent;
}

/* list pane */

.list-view {
	-fx-borer-color: transparent;
	-fx-padding: 0;
	-fx-background-color: transparent;
}

.list-cell {
	-fx-padding: 0 10 0 10;
}

.list-cell, .list-cell:empty {
	-fx-background-color: transparent;
}
.list-cell:hover, .list-cell:selected {
	-fx-text-fill: #ffffff;
}

.list-cell:hover {
	-fx-background-color: rgba(204,204,204,0.8);
	-fx-background-radius: 2em;
}

.list-cell:hover:empty {
	-fx-background-color: transparent;
}

.list-cell:selected {
	-fx-background-color: rgba(153,153,153,0.8);
	-fx-background-radius: 2em;
}

/* thumbnail pane */

.thumbnail {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-border-width: 1px;
	-fx-text-fill: #333333;
}

.thumbnail:hover, .thumbnail:focused {
	-fx-background-color: rgba(153,153,153,0.8);
	-fx-border-color: transparent;
	-fx-text-fill: #ffffff;
}

/* きいてない */
.filenameTooltip {
	-fx-background-color: #ff6666;
	-fx-background-radius: 0 0 0 0;
	-fx-border-radius: 4px;
}

.lightboxBackground {
	-fx-background-color: rgba(0,0,0,0.5);
}

.lightboxBackground .split-pane-divider {
	-fx-background-color: transparent;
}

.lightboxForeground {
	-fx-background-color: #ffffff;
}

/* image window */

.imageTitle {
	-fx-text-fill: transparent;
	-fx-background-color: rgba(102,102,102,0.0);
	-fx-padding: 5 10 5 10;
}

.imageTitle:hover {
	-fx-text-fill: #ffffff;
	-fx-background-color: rgba(102,102,102,0.9);
	-fx-background-radius: 15px;
}

.navigation {
	-fx-background-color: rgba(0,0,0,0.0);
	-fx-text-fill: transparent;
	-fx-font-size: 19px;
	-fx-padding: 30 15 30 15;
	-fx-background-radius: 0;
	-fx-border-color: transparent;
}

.navigation:hover {
	-fx-text-fill: #ffffff;
	-fx-background-color: rgba(153,153,153,0.8);
	-fx-border-color: transparent;
}

/* configure window */

.windowTitle {
	/*-fx-font-size: 18px;*/
}

.contentLabelContainer {
	-fx-alignment: CENTER_RIGHT;
	-fx-padding: 0 5 0 5;
}

.contentContainer {
	-fx-alignment: CENTER_LEFT;
}
