.mainFxmlClass {

}

.goButton {
}

.thumbnail {
	-fx-background-color: #ffffff;
	-fx-border-color: #99ccff;
	-fx-border-width: 1px;
	-fx-border-radius: 4px;
}

.thumbnail:hover, .thumbnail:focused {
	-fx-background-color: #99ccff;
}

/* きいてない */
.filenameTooltip {
	-fx-background-color: #ff6666;
	-fx-background-radius: 0 0 0 0;
	-fx-border-radius: 4px;
}

.imageTitle {
	-fx-text-fill: #ffffff;
	-fx-background-color: #666666;
	-fx-background-radius: 15px;
	-fx-padding: 5 10 5 10;
}

.imageBackground {
	-fx-background-color: rgba(0,0,0,0.5);
}

.navigation {
	-fx-background-color: #666666;
	-fx-text-fill: #ffffff;
	-fx-font-size: 20px;
}

.navigation:hover {
	-fx-background-color: #999999;
}