.mainFxmlClass {
}

.button {
	-fx-background-color: #666666;
	-fx-text-fill: #ffffff;
	-fx-background-radius: 0;
}

.button:hover {
	-fx-background-color: #999999;
}

.text-field {
	-fx-highlight-fill: #999999;
}

.text-field:focused {
	-fx-background-color: #999999, -fx-text-box-border, -fx-control-inner-background;
}

/* TODO コンボボックスのスタイル */
.combo-box {
	-fx-background-radius: 0;
}

.combo-box .arrow-button {
    -fx-background-color: transparent;
}

/* 効かない */
.combo-box-popup .list-view .list-cell:selected {
    -fx-background-color: #ff3333;
}

.split-pane-divider {
	-fx-background-color: #ffffff;
	-fx-border-color: transparent;
}

.scroll-bar {
	-fx-background-color: #ffffff;
	-fx-border-color: #cccccc;
}

.increment-button, .decrement-button {
	-fx-background-color: #ffffff;
	-fx-background-radius: 0;
}

.scroll-bar .track {
	-fx-background-color: #ffffff;
	-fx-border-color: transparent;

	-fx-background-radius: 0;
	-fx-border-radius: 0;
}

.scroll-bar .thumb {
    -fx-background-color:derive(black,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}

/* list pane */

.list-cell:hover, .list-cell:selected {
	-fx-background-color: #999999;
	-fx-text-fill: #ffffff;
}

/* thumbnail pane */

.thumbnail {
	-fx-background-color: #ffffff;
	-fx-border-color: #999999;
	-fx-border-width: 1px;
	-fx-text-fill: #333333;
}

.thumbnail:hover, .thumbnail:focused {
	-fx-background-color: #999999;
	-fx-text-fill: #ffffff;
}

/* きいてない */
.filenameTooltip {
	-fx-background-color: #ff6666;
	-fx-background-radius: 0 0 0 0;
	-fx-border-radius: 4px;
}

.lightboxBackground {
	-fx-background-color: rgba(0,0,0,0.5);
}

.lightboxBackground .split-pane-divider {
	-fx-background-color: transparent;
}

.lightboxForeground {
	-fx-background-color: #ffffff;
}

/* image window */

.imageTitle {
	-fx-text-fill: transparent;
	-fx-background-color: rgba(102,102,102,0.0);
	-fx-padding: 5 10 5 10;
}

.imageTitle:hover {
	-fx-text-fill: #ffffff;
	-fx-background-color: rgba(102,102,102,0.9);
	-fx-background-radius: 15px;
}

.navigation {
	-fx-background-color: rgba(0,0,0,0.0);
	-fx-text-fill: transparent;
	-fx-font-size: 20px;
	-fx-padding: 30 10 30 10;
}

.navigation:hover {
	-fx-text-fill: #ffffff;
	-fx-background-color: rgba(153,153,153,0.8);
}

/* configure window */

.windowTitle {
	-fx-font-size: 20px;
}